@import "tailwindcss";

:root {
  --color-primary: #6366f1; /* Fresh Green → Action buttons, highlights */
  --color-secondary: #f59e0b; /* Warm Yellow → Accents, notifications */
  --color-favorites: #e91e63; /* Vibrant Pink → Interactive elements like likes */
  --color-background: #fafafa; /* Soft White → Main app background for a clean look */
  --color-nav-dark: #2c2c2e; /* Light Gray → Subtle separation & depth */
  --color-light-gray: #e0e0e0; /* Light Gray → Subtle separation & depth */
  --color-mild-gray: #f5f5f5; /* Light Gray → Subtle separation & depth */
  --color-gray: #333333; /* Deep Gray → Readable text without being too harsh */
}

@theme {
  --breakpoint-xs: 480px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-bounce {
  animation: bounce 1s ease;
}

@keyframes settingIcon {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 52px;
  }
}
.animate-settingIcon {
  animation: settingIcon 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
